---
const { usuarioId } = Astro.props;
---

<h1 class="text-3xl font-bold text-center mt-10">Edición de usuario</h1>
<h2>Cambia tu contraseña</h2>

<form id="formulario" class="w-full max-w-xl mx-auto m-4 p-4 rounded shadow-lg border-2 border-gray-300">
  <input type="hidden" id="usuarioId" value={usuarioId} />
  <div class="mb-4">
    <label for="password">
      Contraseña:
      <span id="mensaje_password" class="text-gray-400">
        Debe contener al menos 8 caracteres, un número y una mayúscula
      </span>
    </label>
    <input type="password" id="password" name="password" required />
  </div>
  
  <div class="mb-4">
    <label for="password_confirm">Confirma la contraseña:</label>
    <input type="password" id="password_confirm" required />
  </div>

  <button type="submit">Cambiar</button>
  <p id="mensaje"></p>
</form>

<script>
  const formulario = document.getElementById("formulario");
  const mensaje = document.getElementById("mensaje");
  const usuarioId = document.getElementById("usuarioId").value;

  formulario.addEventListener("submit", async (event) => {
    event.preventDefault();

    const password = formulario.password.value;
    const passwordConfirm = formulario.password_confirm.value;

    // Verificar que las contraseñas coincidan
    if (password !== passwordConfirm) {
      mensaje.textContent = "Las contraseñas no coinciden.";
      mensaje.style.color = "red";
      return;
    }

    try {
      const response = await fetch(`http://localhost:8000/api/modificar_password/${usuarioId}`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ password }),
      });

      const result = await response.json();

      if (response.ok) {
        mensaje.textContent = "Contraseña cambiada correctamente.";
        mensaje.style.color = "green";
        setTimeout(() => {
          window.location.href = "/mi-perfil";
        }, 2000);
      } else {
        mensaje.textContent = result.mensaje || "Error al cambiar la contraseña.";
        mensaje.style.color = "red";
      }
    } catch (error) {
      mensaje.textContent = "Error al conectar con el servidor.";
      mensaje.style.color = "red";
    }
  });
</script>
