---
---

<h1 class="text-3xl font-bold text-center mt-10">Establece la nueva contraseña</h1>

<form id="formNuevoPassword" class="w-full max-w-xl mx-auto m-4 p-4 rounded shadow-lg border-2 border-gray-300">
  <div class="mb-4">
    <label for="password">
      Contraseña:
      <span id="mensaje_password" class="text-gray-400">
        Debe contener al menos 8 caracteres, un número y una mayúscula
      </span>
    </label>
    <input type="password" id="password" name="password" required />
  </div>
  
  <div class="mb-4">
    <label for="password_confirm">Confirma la contraseña:</label>
    <input type="password" id="password_confirm" required />
  </div>

  <button type="submit">Cambiar</button>
  <p id="mensaje"></p>
</form>

<script >
  const formulario = document.getElementById("formNuevoPassword");
  const mensaje = document.getElementById("mensaje");

  const url = new URL(window.location.href);
  const token    = url.searchParams.get('token');

  formulario.addEventListener("submit", async (event) => {
    event.preventDefault();

    const password = formulario.password.value;
    const passwordConfirm = formulario.password_confirm.value;

    // Verificar que las contraseñas coincidan
    if (password !== passwordConfirm) {
      mensaje.textContent = "Las contraseñas no coinciden.";
      mensaje.style.color = "red";
      return;
    }

    try {
      const response = await fetch("http://localhost:8000/api/reset-password", {
        method: "POST",
        credentials: "include",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        body: JSON.stringify({token, password})
      });

      const result = await response.json();

      if (response.ok) {
        mensaje.textContent = "Contraseña actualizada correctamente";
          mensaje.classList.remove("text-red-500");
          mensaje.classList.add("text-green-500");
          alert("Contraseña actualizada correctamente.");
          window.location.href = `/login`;
      } else {
          if (result.errores && Array.isArray(result.errores)) {
            const erroresTexto = result.errores
              .map((e) => `${e.campo}: ${e.error}`)
              .join("\n");
            mensaje.textContent = `Error: ${erroresTexto}`;
          } else {
            mensaje.textContent = `Error: ${result.mensaje || "Error desconocido"}`;
          }
          mensaje.classList.add("text-red-500");
        }
    } catch (error) {
      mensaje.textContent = "Error de red. Inténtalo de nuevo más tarde.";
      mensaje.style.color = "red";
    }
  });
</script>
