---
import Modal from './Modal.astro';
const PUBLIC_API_URL = import.meta.env.PUBLIC_API_URL;
---

<div class="min-h-3/5 flex items-center p-12 bg-gradient-to-br from-[#ac63d377] to-[#e5d04bad] via-[#6cb4d177] via-at-29% via-[#71e8a376] via-at-68%">
  <div class="w-150 max-w-3xl mx-auto">
    <h1 class="text-3xl text-center font-extrabold text-primary sm:text-4xl sm:tracking-tight mb-8">Establece la nueva contraseña</h1>

    <form id="formNuevoPassword" class="bg-white flex flex-col gap-4 w-full mx-auto p-8 rounded-xl shadow-xl hover:shadow-lg/40 border border-gray-300">
      <div class="mb-2">
        <label for="password">
          Nueva contraseña:
          <span id="mensaje_password" class="text-xs text-gray-400 block">
            Debe contener al menos 8 caracteres, un número y una mayúscula
          </span>
        </label>
        <input type="password" id="password" name="password" required autofocus />
      </div>

      <div>
        <label for="password_confirm">Confirma la contraseña:</label>
        <input type="password" id="password_confirm" required />
      </div>

      <div class="flex flex-col md:flex-row gap-4 mt-4">
        <button type="submit" class="grow transition duration-300">Cambiar</button>
      </div>

      <p id="mensaje"></p>
    </form>
  </div>
</div>

<Modal title='Aviso:' />

<script define:vars={{ PUBLIC_API_URL }}>
  const formulario = document.getElementById("formNuevoPassword");
  const mensaje = document.getElementById("mensaje");

  const url = new URL(window.location.href);
  const token    = url.searchParams.get('token');

  formulario.addEventListener("submit", async (event) => {
    event.preventDefault();

    const password = formulario.password.value;
    const passwordConfirm = formulario.password_confirm.value;

    // Verifica si la contraseña cumple los requisitos y coincide con la de confirmacion
    if (password.length < 8 || password.length > 20) {
      mensaje.textContent ="Debe tener entre 8 y 20 caracteres";
      mensaje.style.color = "red";
    } else if (!/[A-Z]/.test(password) || !/\d/.test(password)) {
      mensaje.textContent = "Debe contener al menos una mayúscula y un número";
      mensaje.style.color = "red";
    } else if (password !== passwordConfirm) {
      mensaje.textContent = "Las contraseñas no coinciden";
      mensaje.style.color = "red";
    } else {
      try {
        const response = await fetch(`${PUBLIC_API_URL}/api/reset-password`, {
          method: "POST",
          credentials: "include",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: JSON.stringify({token, password})
        });

        const result = await response.json();

        if (response.ok) {
          mensaje.textContent = "Contraseña actualizada correctamente";
            mensaje.classList.remove("text-red-500");
            mensaje.classList.add("text-green-500");
            window.showModal({
              message: "Contraseña actualizada correctamente.",
              onConfirm: () => {
                window.location.href = "/login";
              }
            });
            
        } else {
            if (result.errores && Array.isArray(result.errores)) {
              const erroresTexto = result.errores
                .map((e) => `${e.campo}: ${e.error}`)
                .join("\n");
              mensaje.textContent = `Error: ${erroresTexto}`;
            } else {
              mensaje.textContent = `Error: ${result.mensaje || "Error desconocido"}`;
            }
            mensaje.classList.add("text-red-500");
          }
      } catch (error) {
        mensaje.textContent = "Error de red. Inténtalo de nuevo más tarde.";
        mensaje.style.color = "red";
      }
    }
  });
</script>