<div class="min-h-3/5 p-12 text-center  bg-gradient-to-br from-[#ac63d377] to-[#e5d04bad] via-[#6cb4d177] via-at-29% via-[#71e8a376] via-at-68%">
    <h3 class="text-2xl font-bold text-primary mb-2">Prueba como se vería el perfil público de tu mascota</h3>
    <p class="text-base text-gray-700 mb-4">
    Escanea el código QR de ejemplo con tu móvil <span class="font-bold text-primary">o</span> haz clic en el botón 
    </br> 
    para ver cómo otras personas podrían ayudarte a recuperar a tu mascota si alguna vez se pierde.
    </p>
    
    <div class="relative flex flex-col items-center mt-18">
        <!-- Imagen QR -->
        <img src="/QRDemo.png" alt="Demo QR" class="w-32 h-32 mx-auto shadow-lg rounded-lg border" />

        <!-- Flecha SVG apuntando al QR y texto -->
        <div class="absolute -top-12 left-1/2 transform -translate-x-1/2 flex flex-col items-center">
            <span class="text-primary font-semibold text-lg mb-1 animate-bounce">¡Escanéame!</span>
            <svg class="w-12 h-12 text-primary" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v12m0 0l-5-5m5 5l5-5"/>
            </svg>
        </div>
    </div>
    <div class="flex flex-col items-center gap-4">
      <a
        href="/mascota/1"
        class="inline-flex items-center px-4 py-3 bg-teal-600 text-white font-semibold rounded-lg shadow hover:bg-primary-dark transition transform hover:scale-105 text-lg"
        >
        ¡Probar ahora!
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </a>
    </div>
    <span class="text-sm text-gray-600 mt-4">¡Haz la prueba y comprueba lo fácil que es ayudar a un animal perdido!</span>

    
  </div>