---

---
<div class="min-h-3/5 flex items-center p-12 bg-gradient-to-br from-[#ac63d377] to-[#e5d04bad] via-[#6cb4d177] via-at-29% via-[#71e8a376] via-at-68%">
  <div class="w-150 max-w-3xl mx-auto">
    <h1 class="text-3xl text-center font-extrabold text-primary sm:text-4xl sm:tracking-tight mb-2">Recuperar Contraseña</h1>
    <h2 class="text-center text-gray-700 text-md md:text-xl mb-6">Introduce tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña</h2>
    <form method="post" id="formRecuperarPassword" class="bg-white flex flex-col gap-4 w-full mx-auto p-8 rounded-xl shadow-xl hover:shadow-lg/40 border border-gray-300">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required class="border p-2 rounded" autofocus />
      
      <button type="submit" class="transition duration-300">Enviar enlace de recuperación</button>
      
      <p id="mensaje" class="text-red-600 mt-2"></p>
    </form>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("formRecuperarPassword");
    const mensaje = document.getElementById("mensaje");

    form.addEventListener("submit", async (event) => {
      event.preventDefault();
      const email = document.getElementById("email").value;
      
      try {
        const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/api/recuperar-password`, {
          method: "POST",
          credentials: "include",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ email }),
        });
  
        const result = await response.json();
  
        if (response.ok) {
          mensaje.textContent = "Se ha enviado un enlace de recuperación a tu correo electrónico.";
          mensaje.classList.remove("text-red-600");
          mensaje.classList.add("text-green-600");
        } else {
          mensaje.textContent = result.mensaje || "Error al enviar el correo.";
          mensaje.classList.remove("text-green-600");
          mensaje.classList.add("text-red-600");
        }
      } catch (error) {
        mensaje.textContent = "Error al conectar con el servidor.";
        mensaje.classList.remove("text-green-600");
        mensaje.classList.add("text-red-600");
      }
    });
  });
</script>