---
import '../styles/global.css';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>

  <div id="perfil-container" class="p-4 text-center">
    <h1 class="text-3xl font-bold text-center mt-10">Mi perfil</h1>
    <p>Cargando perfil...</p>
  </div>

  <script defer src="/js/perfil.js" ></script>
</Layout>
