---
import '../styles/global.css';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
// import Perfil from '../components/MiPerfil.jsx';

---

<Layout>
  <h1 class="text-3xl font-bold text-center mt-10">Mi perfil</h1>
  <!-- <Perfil /> -->

</Layout>
