---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';


---

<Layout>

<section class="min-h-3/5 py-12 px-6 bg-gradient-to-br from-[#ac63d377] to-[#e5d04bad] via-[#6cb4d177] via-at-29% via-[#71e8a376] via-at-68% flex flex-col items-center justify-center">
  <h1 class="text-3xl text-center font-extrabold text-primary sm:text-4xl sm:tracking-tight">¿Tienes dudas o sugerencias?</h1>
  <h2 class="text-center text-gray-700 text-md md:text-xl mb-6">Rellena el siguiente formulario y nos pondremos en contacto contigo lo antes posible.</h2>
  
  <div class="max-w-2xl w-full mx-auto bg-white rounded-xl shadow-xl hover:shadow-lg/40 border border-gray-200 p-8">
    <form id="contactoForm" class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <label for="nombre" class="text-teal-800 font-semibold flex items-center">Nombre:</label>
        <input id="nombre" name="nombre" type="text" required placeholder="Tu nombre" class="border rounded-md p-2" autofocus />
      </div>
      <div class="flex flex-col gap-2">
        <label for="email" class="text-teal-800 font-semibold flex items-center">Email:</label>
        <input id="email" name="email" type="email" required placeholder="Tu correo electrónico" class="border rounded-md p-2" />
      </div>
      <div class="flex flex-col gap-2">
        <label for="mensaje" class="text-teal-800 font-semibold flex items-center">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="5" required placeholder="¿En qué podemos ayudarte?" class="border rounded-md p-2"></textarea>
      </div>
      <button type="submit" class="bg-teal-600 text-white font-semibold py-2 mt-2 rounded-lg shadow hover:bg-teal-700 transition transform hover:scale-105 text-lg flex items-center justify-center">
        <svg class="h-5 w-5 mr-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/></svg>
        Enviar mensaje
      </button>
      <p id="mensajeContacto" class="text-center text-green-700 mt-2 hidden">¡Mensaje enviado correctamente!</p>
    </form>
    <div class="mt-6 text-center text-gray-500">
      <p class="mt-2 text-xs">* Responderemos en menos de 24 horas hábiles.</p>
    </div>
  </div>
</section>


</Layout>

<script>
  document.querySelector("form").addEventListener("submit", (event) => { 
    event.preventDefault();
    setTimeout(() => {
      const mensajeContacto = document.getElementById("mensajeContacto");
      mensajeContacto.classList.add("text-red-700");
      mensajeContacto.textContent = "Error: no se ha enviado el mensaje.";
      mensajeContacto.classList.remove("hidden","text-green-700");
      document.querySelector("form").reset();
    }, 2000);
  });
</script>