---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <h1 class="text-3xl font-bold text-center mt-10">Recuperar Contraseña</h1>
    <form id="formRecuperarPassword" class="flex flex-col gap-2  w-full max-w-xl mx-auto m-4 p-4 rounded shadow-lg border-2 border-gray-300">
      <label for="email">Ingresa tu correo electrónico:</label>
      <input type="email" id="email" name="email" required class="border p-2 rounded" />
      
      <button type="submit" class="bg-teal-600 text-white p-2 rounded mt-2">Enviar enlace de recuperación</button>
      
      <p id="mensaje" class="text-red-600 mt-2"></p>
    </form>
    
    <script defer src="/js/recuperarPassword.js" ></script>
    


</Layout>

